/* ************ */
/* COMMON RULES */
/* ************ */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #efefef;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

section {
  background-color: white;
  padding: 60px 30px;
  border-radius: 20px;
}

p {
  line-height: 22px;
  margin-bottom: 20px;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 50px;
  color: #393c6c;
  text-align: center;
}

h2 {
  font-size: 30px;
  color: #f3735f;
  margin: 70px 0 20px 0;
}

h3 {
  font-size: 18px;
  color: #393c6c;
  line-height: 22px;
}

/* ************ */
/*    HEADER    */
/* ************ */

header {
  background-color: white;
  border-bottom: 1px solid #f3735f;
  height: 80px;
  margin-bottom: 60px;
}

.logo {
  height: 32px;
  margin-top: 24px;
}

/* ************ */
/*     MAIN     */
/* ************ */

.baseline {
  text-align: center;
  color: #6c6c6c;
  line-height: 14px;
  padding-top: 8px;
  font-size: 12px;
}

.time {
  background-color: #8a98b1;
  margin: 30px auto;
  width: 400px;
  color: white;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  padding: 10px 0;
  text-align: center;
  border-radius: 20px;
}

.box-pictures {
  margin: 0 auto;
}

.box-pictures img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 0 10px;
  border-radius: 10px;
}

.ingredients ul {
  margin-left: 20px;
  list-style: disc;
  line-height: 22px;
  color: #6c6c6c;
}

.smiley {
  font-size: 20px;
}

.etape {
  margin-bottom: 20px;
  text-align: justify;
}

/* ************ */
/*    FOOTER    */
/* ************ */

footer {
  height: 134px;
}

footer p {
  text-align: center;
  color: #6c6c6c;
  line-height: 134px;
  margin-bottom: 0;
}

.copyright {
  font-size: 18px;
}
